@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="calculator">
        <img src="calculadora-imc.png" alt="Calculadora IMC">
        <h1 style="color:#22959f;">Calculadora IMC</h1>
        <Calculator />
    </Slide>

    <Slide Id="history">
        <h1 style="color:#22959f;">Histórico</h1>
        <History />

    </Slide>
    
    <Slide Id="about">
        <h1 style="color:#22959f;">Sobre</h1>
        <img class="about-text" src="about.png" alt="Como é feito o IMC">
    </Slide>
</div>

<style>
    .about-text {
        max-width: 370px;
    }
</style>